.discovery-container{
	margin:36px;
}


.width-label {
	margin-left: auto;
	margin-right: auto;
	height: 0px;
}

.discovery-grid-container {
	max-width: 961px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

@media screen and (max-width: 1032px) {
		.width-radio-group{
		visibility: hidden;
	}
	.width-label {
		padding-top: 10px;
		width: 62px;
	}
	  .width-label:before {
		content: "Medium";
	}
  .discovery-grid-container {
  	/*background: blue;*/
    width: 721px; /* The width is 100%, when the viewport is 800px or smaller */
  }
}



@media screen and (max-width: 792px) {
	  .width-label:before {
		content: "Small";
	}
	.width-label {
		width: 43px;
	}

  .discovery-grid-container {
  	/*background: yellow;*/
    width: 601px; /* The width is 100%, when the viewport is 800px or smaller */
  }
}


@media screen and (max-width: 672px) {
	  .width-label:before {
		content: "Extra Small";
	}
		.width-label {
		width: 87px;
	}
  .discovery-grid-container {
  	/*background: green;*/
    width: 481px; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

@media screen and (max-width: 552px) {
	  .width-label:before {
		content: "Tiny";
	}
	.width-label {
		width: 34px;
	}
  .discovery-container{
	margin:24px;
  }
  .discovery-grid-container {
  	/*background: red;*/
    width: 361px; /* The width is 100%, when the viewport is 800px or smaller */
  }
}



@media screen and (max-width: 408px) {
	  .width-label:before {
		content: "Extra Tiny";
	}
	.width-label {
		width: 78px;
	}
  .discovery-container{
	margin:6px;
  }
  .discovery-grid-container {
  	/*background: red;*/
    width: 341px; /* The width is 100%, when the viewport is 800px or smaller */
  }
}



.hrule {
	min-height: 16px;
	border-bottom: 2px solid #DFE1E6;
}


.builder > .hrule {
	margin-bottom: 1.6em;
}


.label-left {
	min-width: 80px;
	margin-top: 12px;
}